.widget {
  height: 100%;
  box-sizing: border-box;
  padding: 20px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  border: 2px solid transparent;
  border-radius: 8px;
  border-color:rgb(7, 8, 78);
}

.editing {
  border-color: #cccccc;
//   border-radius: 8px;
  border-width: 5px;
}

.title {
  margin-top: 0;
}

.status {
  flex-grow: 1;
}

.controls {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.controlButton {
  cursor: pointer;
}
