@use '../../styles/app' as *;

.root {
  width: $sidebar-width-open;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: $sidebar-bg-color;
  color: $sidebar-color;

  @include media-breakpoint-down(md) {
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
  }
}

:global(.sidebar-open) {
  .root {
    transform: translateX(0);
  }
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: $navbar-height;
  width: 100%;
  background: $logo-gradient;

  a img {
    width: $sidebar-width-open - 60px;
  }
}

.nav {
  padding: 10px 0;
  overflow-y: auto;
}
